.wish-box {
    overflow-y: auto;
    height: 523px;
    background-color: #fff;
    color: #333;
    border: 5px solid #c89d9c;
}

.wish-box::-webkit-scrollbar {
    width: 6px;
}

.wish-box::-webkit-scrollbar-thumb {
    background-color: #ccc;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

.wish-box .wish-box-item {
    padding: 10px;
}

.wish-box .wish-box-item p {
    color: #333;
    margin: .5rem 0;
}

.wish-box .wish-box-item.bg {
    background-color: rgb(200 157 156 / 20%);
}

.see-location-btn {
    font-size: 15px;
    /*font-size: 0.750rem;*/
    font-weight: bold;
    padding: 10px 21px 8px;
    border: 2px solid #c89d9c;
    color: #818492;
    border-radius: 60px;
    display: block;
}

.see-location-btn:hover {
    background-color: #c89d9c;
    color: #fff;
}

.wedding-box-modal {
    display: none;
    position: fixed;
    z-index: 999999;
    padding-top: 100px;
    padding-bottom: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.wedding-box-modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 850px;
    -webkit-animation-name: animatetopforwedding-boxmodal;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetopforwedding-boxmodal;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetopforwedding-boxmodal {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetopforwedding-boxmodal {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.wedding-box-modal strong,
.wedding-box-modal h3 {
    font-family: inherit !important;
}

.wedding-box-modal-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.wedding-box-modal-header {
    padding: 8px 16px;
    background-color: #f23b43;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
}

.wedding-box-modal-header strong {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
}

.wedding-box-modal-header strong span {
    margin-left: 10px;
}

.wedding-box-modal-body {
    padding: 0 15px;
}

.wedding-box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.wedding-box .wedding-box-card {
    width: calc(50% - 40px);
    margin: 10px;
    padding: 20px;
    border: 3px solid #c89d9c;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    margin-top: 0;
}

.wedding-box .wedding-box-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.wedding-box .wedding-box-card h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
}

.wedding-box .wedding-box-card p {
    margin: 10px 0 !important;
    font-size: 16px;
}

.wedding-box .wedding-box-card p:last-child {
    margin-bottom: 0 !important;
}

@media (max-width: 699px) {
    .wedding-box .wedding-box-card {
        width: 100%;
        margin: 20px 5px;
    }
}

.wedding-box .wedding-box-card {
    position: relative;
}

.wedding-box .wedding-box-card .qr-code-image {
    max-width: 150px;
    border: 1px solid #ccc;
    padding: 3px;
    margin: auto;
    display: block;
}

.wedding-box .cryptos-box {
    border-top: 1px solid #f23b43;
    margin-top: 25px;
}

.wedding-box .cryptos-box h4 {
    margin: 0;
    margin-top: 20px;
    text-align: center;
}

.wedding-box .cryptos-box .cryptos-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -10px;
    margin-left: -10px;
    margin-top: 10px;
}

.wedding-box .cryptos-box .cryptos-items .crypto-item {
    padding: 10px 10px 0;
}

.wedding-box .cryptos-box .cryptos-items .crypto-item img {
    width: 50px;
    max-width: 100%;
    min-width: 35px;
    cursor: pointer;
}

.wedding-box .cryptos-box-view {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    padding: 10px;
    text-align: center;
}

.wedding-box .cryptos-box-view h5 {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.wedding-box .cryptos-box-view h5 img {
    width: 25px;
}

.wedding-box .cryptos-box-view h5 .coin-img {
    margin-right: 5px;
}

.wedding-box .cryptos-box-view h5 .coin-id {
    margin-left: 5px;
}

.wedding-box .cryptos-box-view .coin-address {
    display: block;
    padding: 10px;
    background: #ffe2e4;
    margin-bottom: 15px;
    word-break: break-word;
    color: #201f1f;
}

.wedding-box .cryptos-box-view .cryptos-box-view-close {
    margin-top: 15px;
    background: #f23b43;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #e3252d;
}

.wedding-box .cryptos-box-view .cryptos-box-view-close:hover {
    background: #e3252d;
}


.video-section .top-area {
    text-align: center;
    width: 100%;
    height: 60%;
    padding: 150px 0;
    position: inherit;
    left: 0;
    top: 0;
    border-top: 3px solid #c89d9c;
    border-bottom: 3px solid #c89d9c;
}

.video-section .top-area:before {
    background: rgba(0, 0, 0, .2);
}

.section-bg-img {
    background: url("../img/bg.png") !important;
}

.section-bg-color {
    background: #F2EDED !important;
}

.section-accessibilities {
    background: #ffe2e5;
    padding: 0;
}

.section-accessibilities .btn-container {
    margin-top: 20px;
    margin-bottom: 30px;
}

.section-accessibilities .button-accessibilities .accessibility-btn {
    padding: 15px 20px !important;
    min-width: 220px !important;
    margin: 10px 5px 0 !important;
    font-size: 1.1rem !important;
}

.section-accessibilities .button-accessibilities .accessibility-btn .content-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-accessibilities .button-accessibilities .accessibility-btn .content-button svg {
    margin-right: 5px;
}

.section-accessibilities .button-accessibilities .accessibility-btn:after {
    content: "" !important;
}

@media (max-width: 500px) {
    .section-accessibilities .button-accessibilities .accessibility-btn {
        width: 100% !important;
        margin: 10px 0 !important;
    }
}

.calendar-button .atcb-button-wrapper {
    padding: 0 !important;
    width: 100% !important;
    margin: auto !important;
    display: block !important;
}

.calendar-button .atcb-button {
    width: 100% !important;
    margin-bottom: 10px !important;
    border-radius: 60px !important;
    box-shadow: none !important;
    font-size: 16px !important;
    font-family: inherit !important;
    padding: 8px 20px;
    margin: 0;
}

.atcb-list-item .atcb-icon>span {
    display: initial !important;
}

/**/

.parent-infos {
    margin-bottom: 18px;
    color: #444;
}

.parent-info {
    margin-bottom: 0.6rem;
}

.parent-info .parent-title {
    margin-right: .2rem;
}

.parent-info .parent-name {
    text-transform: uppercase;
    font-weight: 600;
}

/*--------------------------------------------------------------
#0.9  gallery-section
--------------------------------------------------------------*/
.gallery-section {
    padding-bottom: 105px;
}

@media (max-width: 991px) {
    .gallery-section {
        padding-bottom: 85px;
    }
}

@media (max-width: 767px) {
    .gallery-section {
        padding-bottom: 75px;
    }
}

.gallery-section .gallery-container {
    margin: 0 -7.5px;
}

.gallery-section .gallery-container .grid {
    width: 33.33%;
    float: left;
    padding: 0 7.5px 15px;
    overflow: hidden;
}

@media (max-width: 767px) {
    .gallery-section .gallery-container .grid {
        padding: 0 5px 10px;
    }
}

@media (max-width: 600px) {
    .gallery-section .gallery-container .grid {
        width: 50%;
    }
}

.gallery-section .gallery-container .grid a {
    display: block;
    z-index: 10;
}

.gallery-section .video-play-btn {
    position: relative;
    display: block;
}

.video-section h2 {
    font-size: 3.5rem;
    margin: 0;
}

.video-section p,
.event-section .top-area p {
    color: #fff;
}

.video-btn {
    width: 80px;
    height: 80px;
    display: block;
    margin: auto;
    margin-top: 16px;
    position: relative;
}

.video-play-btn {
    line-height: 75px;
    font-size: 2rem;
    background: rgba(200, 157, 156, 0.3);
    border: 3px solid rgb(175 115 114);
    border-radius: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 1px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.video-play-btn i:before {
    margin-left: 3px;
}

.video-play-btn:hover,
.video-play-btn:focus {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: rgba(200, 157, 156, 0.7);
}

.gallery-section .video-play-btn:hover i {
    background: #b2c9d3;
}

.imsg {
    cursor: pointer;
}

.wish-box .wish-box-item .comment-confirm {
    font-size: 11px;
    color: #656565;
}