<section class="gallery-section section-padding" id="gallery">
    <div class="container">
        <div class="row">
            <div class="col col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="section-title">
                    <h2>Album Hình Cưới</h2>
                    <p>Được ai đó yêu sâu sắc sẽ mang lại cho bạn sức mạnh, trong khi yêu ai đó sâu sắc sẽ cho
                        bạn dũng khí.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-12">
                <div class="gallery-container gallery-fancybox masonry-gallery">
                    <div class="grid grid-item">
                        <a href="images/hinhcuoi1.jpg" class="fancybox" data-fancybox-group="gall-1">
                            <img src="images/hinhcuoi1.jpg" alt="" class="img img-responsive">
                        </a>
                    </div>
                    <div class="grid grid-item">
                        <a href="images/hinhcuoi2.jpg" class="fancybox" data-fancybox-group="gall-1">
                            <img src="images/hinhcuoi2.jpg" alt="" class="img img-responsive">
                        </a>
                    </div>
                    <div class="grid grid-item">
                        <a href="images/hinhcuoi3.jpg" class="fancybox" data-fancybox-group="gall-1">
                            <img src="images/hinhcuoi3.jpg" alt="" class="img img-responsive">
                        </a>
                    </div>
                    <div class="grid grid-item">
                        <a href="images/hinhcuoi4.jpg" class="fancybox" data-fancybox-group="gall-1">
                            <img src="images/hinhcuoi4.jpg" alt="" class="img img-responsive">
                        </a>
                    </div>
                    <div class="grid grid-item">
                        <a href="images/hinhcuoi5.jpg" class="fancybox" data-fancybox-group="gall-1">
                            <img src="images/hinhcuoi5.jpg" alt="" class="img img-responsive">
                        </a>
                    </div>
                    <div class="grid grid-item">
                        <a href="images/hinhcuoi6.jpg" class="fancybox" data-fancybox-group="gall-1">
                            <img src="images/hinhcuoi6.jpg" alt="" class="img img-responsive">
                        </a>
                    </div>
                    <div class="grid grid-item">
                        <a href="images/hinhcuoi7.jpg" class="fancybox" data-fancybox-group="gall-1">
                            <img src="images/hinhcuoi7.jpg" alt="" class="img img-responsive">
                        </a>
                    </div>
                    <div class="grid grid-item">
                        <a href="images/hinhcuoi8.jpg" class="fancybox" data-fancybox-group="gall-1">
                            <img src="images/hinhcuoi8.jpg" alt="" class="img img-responsive">
                        </a>
                    </div>
                    <div class="grid grid-item">
                        <a href="images/hinhcuoi9.jpg" class="fancybox" data-fancybox-group="gall-1">
                            <img src="images/hinhcuoi9.jpg" alt="" class="img img-responsive">
                        </a>
                    </div>
                    <div class="grid grid-item">
                        <a href="images/hinhcuoi10.jpg" class="fancybox" data-fancybox-group="gall-1">
                            <img src="images/hinhcuoi10.jpg" alt="" class="img img-responsive">
                        </a>
                    </div>
                    <div class="grid grid-item">
                        <a href="images/hinhcuoi11.jpg" class="fancybox" data-fancybox-group="gall-1">
                            <img src="images/hinhcuoi11.jpg" alt="" class="img img-responsive">
                        </a>
                    </div>
                    <div class="grid grid-item">
                        <a href="images/hinhcuoi12.jpg" class="fancybox" data-fancybox-group="gall-1">
                            <img src="images/hinhcuoi12.jpg" alt="" class="img img-responsive">
                        </a>
                    </div>
                    <div class="grid grid-item">
                        <a href="images/hinhcuoi13.jpg" class="fancybox" data-fancybox-group="gall-1">
                            <img src="images/hinhcuoi13.jpg" alt="" class="img img-responsive">
                        </a>
                    </div>
                    <div class="grid grid-item">
                        <a href="images/hinhcuoi14.jpg" class="fancybox" data-fancybox-group="gall-1">
                            <img src="images/hinhcuoi14.jpg" alt="" class="img img-responsive">
                        </a>
                    </div>
                    <div class="grid grid-item">
                        <a href="images/hinhcuoi15.jpg" class="fancybox" data-fancybox-group="gall-1">
                            <img src="images/hinhcuoi15.jpg" alt="" class="img img-responsive">
                        </a>
                    </div>
                    <div class="grid grid-item">
                        <a href="images/hinhcuoi16.jpg" class="fancybox" data-fancybox-group="gall-1">
                            <img src="images/hinhcuoi16.jpg" alt="" class="img img-responsive">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>