<section class="event-section section-padding p-t-0 section-bg-color" id="events">
    <div class="top-area" style="background: url(images/hinhnen1.jpg) center center/cover no-repeat local;">
        <h2>Sự Kiện Cưới</h2>
        <p class="">...tình yêu không phải là nhìn vào nhau, mà là nhìn về chung một hướng...</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="event-grids clearfix">
                    <div class="grid section-bg-img">
                        <h3>Tiệc Cưới Nhà Gái</h3>
                        <div class="image-wrap">
                            <img src="images/nhagai.jpg" alt="">
                        </div>
                        <p>
                            <strong>11:00 08/09/2024</strong>
                        </p>
                        <p>TP Thái Bình, Thái Bình</p>
                        <a class="see-location-btn" href="https://maps.app.goo.gl/kSqRvD6mGSwqs5Bt6" target="_blank">Xem
                            bản đồ</a>
                    </div>
                    <div class="grid section-bg-img">
                        <h3>Tiệc Cưới Nhà Trai</h3>
                        <div class="image-wrap">
                            <img src="images/nhatrai.jpg" alt="">
                        </div>
                        <p>
                            <strong>11:00 15/09/2024</strong>
                        </p>
                        <p>266 Thụy Khuê, Thụy Khuê, Ba Đình, Hà Nội</p>
                        <a class="see-location-btn" href="https://maps.app.goo.gl/y5oH65dyb3dKfSyy8" target="_blank">Xem
                            bản đồ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>