<section class="event-section section-padding p-t-0 section-bg-color" id="events">
    <div class="top-area"
        style="background: url('{{ site.data.media.events_background | prepend: site.image_path }}') center center/cover no-repeat local; filter: grayscale(100%);">
        <h2>Sự Kiện Cưới</h2>
        <p class="">...tình yêu không phải là nhìn vào nhau, mà là nhìn về chung một hướng...</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="event-grids clearfix">
                    {% for event in site.data.main.events %}
                    <div class="grid section-bg-img">
                        <h3>{{ event.title }}</h3>
                        <div class="image-wrap">
                            <img src="{{ site.data.media.events[forloop.index0] | prepend: site.image_path }}"
                                alt="{{ site.data.media.events[forloop.index0] }}">
                        </div>
                        <p>
                            <strong>{{ event.date }}</strong>
                        </p>
                        {% if event.location %}
                        <p>
                            <i>{{ event.location }}</i>
                        </p>
                        {% endif %}
                        <p>{{ event.address }}</p>
                        {% if event.link %}
                        <a class="see-location-btn" href="{{ event.link }}" target="_blank">Xem
                            bản đồ</a>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>