<header id="header" class="site-header header-style-1">
    <nav class="navigation navbar navbar-default original">
        <div class="container">
            <div class="navbar-header">
                <div class="logo">
                    <a href="#home">
                        <span>CA</span>
                        <i class="ti-heart"></i>
                        <span>TL</span>
                    </a>
                </div>
                <button type="button" class="open-btn">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse navigation-holder">
                <button class="close-navbar">
                    <i class="ti-close"></i>
                </button>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#couple">Cặp đôi</a>
                    </li>
                    <li>
                        <a href="#gallery">Album cưới</a>
                    </li>
                    <li>
                        <a href="#events">Sự kiện</a>
                    </li>
                    <li>
                        <a href="#wishes">Sổ lưu bút</a>
                    </li>
                    <li>
                        <a href="#donate">Mừng cưới</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navigation navbar navbar-default sticky-header">
        <div class="container">
            <div class="navbar-header">
                <div class="logo">
                    <a href="#home">
                        <span>CA</span>
                        <i class="ti-heart"></i>
                        <span>TL</span>
                    </a>
                </div>
                <button type="button" class="open-btn">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse navigation-holder">
                <button class="close-navbar">
                    <i class="ti-close"></i>
                </button>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#couple">Cặp đôi</a>
                    </li>
                    <li>
                        <a href="#gallery">Album cưới</a>
                    </li>
                    <li>
                        <a href="#events">Sự kiện</a>
                    </li>
                    <li>
                        <a href="#wishes">Sổ lưu bút</a>
                    </li>
                    <li>
                        <a href="#donate">Mừng cưới</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>