<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thiệp mời Hôn lễ Công Anh & Thùy Linh</title>
    <meta property="og:image:url" content="images/thumb.jpg">
    <meta property="og:image" content="images/thumb.jpg">
    <meta property="og:image:secure_url" content="images/thumb.jpg">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.jpg">
    <link href="images/fonts.css" rel="stylesheet">
    <link href="images/libs.css" rel="stylesheet">
    <link href="images/style.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"> -->

    <!-- Custom CSS -->
    <!-- <link rel="stylesheet" href="css/main.css" type="text/css"> -->
</head>