<section class="hero-slider hero-style-1" id="home">
    <div class="swiper-container swiper-container-horizontal">
        <div class="slide-main-text">
            <div class="container" style="margin-top: 140px">
                <div class="slide-title">
                    <h2>
                        <span>Công Anh</span>
                        <i class="ti-heart"></i>
                        <span>Thùy Linh</span>
                    </h2>
                </div>
                <div class="wedding-date">
                    <span>15 Tháng 09 2024</span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slide-inner slide-bg-image" data-background="images/slide1.jpg"></div>
            </div>
            <div class="swiper-slide">
                <div class="slide-inner slide-bg-image" data-background="images/slide2.jpg"></div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>