<section class="invitation-section section-padding section-bg-img">
    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <div class="invitation-box left">
                    <div class="left-vec"></div>
                    <div class="right-vec"></div>
                    <div class="inner">
                        <h2>Save the Date</h2>
                        <span>For the wedding of</span>
                        <h3>Công Anh & Thùy Linh</h3>
                        <p>Một lời chúc của bạn chắc chắn sẽ làm cho đám cưới của chúng tôi có thêm một niềm
                            hạnh phúc!</p>
                        <a href="#wishes" class="theme-btn">Gửi lời chúc</a>
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="invitation-box calendar-box">
                    <div class="left-vec"></div>
                    <div class="right-vec"></div>
                    <div class="inner">
                        <div class="mini_calendar">
                            <table>
                                <caption class="calendar-month">Tháng 09 / 2024</caption>
                                <tbody>
                                    <tr>
                                        <th abbr="Sunday">Sun</th>
                                        <th abbr="Monday">Mon</th>
                                        <th abbr="Tuesday">Tue</th>
                                        <th abbr="Wednesday">Wed</th>
                                        <th abbr="Thursday">Thu</th>
                                        <th abbr="Friday">Fri</th>
                                        <th abbr="Saturday">Sat</th>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>2</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>6</td>
                                        <td>7</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>9</td>
                                        <td>10</td>
                                        <td>11</td>
                                        <td>12</td>
                                        <td>13</td>
                                        <td>14</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div id="today">15</div>
                                        </td>
                                        <td>16</td>
                                        <td>17</td>
                                        <td>18</td>
                                        <td>19</td>
                                        <td>20</td>
                                        <td>21</td>
                                    </tr>
                                    <tr>
                                        <td>22</td>
                                        <td>23</td>
                                        <td>24</td>
                                        <td>25</td>
                                        <td>26</td>
                                        <td>27</td>
                                        <td>28</td>
                                    </tr>
                                    <tr>
                                        <td>29</td>
                                        <td>30</td>
                                        <td id="emptydays" colspan="5">&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="count-down-clock">
                        <div id="clock" data-date="2024-09-15" data-text-day="Ngày" data-text-hour="Giờ"
                            data-text-minute="Phút" data-text-second="Giây">
                            <div class="box">
                                <div>00</div>
                                <span>Ngày</span>
                            </div>
                            <div class="box">
                                <div>00</div>
                                <span>Giờ</span>
                            </div>
                            <div class="box">
                                <div>00</div>
                                <span>Phút</span>
                            </div>
                            <div class="box">
                                <div>00</div>
                                <span>Giây</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>