<section class="wedding-box-section section-padding section-bg-color" id="wedding-box">
    <div class="container">
        <div class="row">
            <div class="col col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="section-title">
                    <h2>Hộp mừng cưới</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-12">
                <div id="wedding-box-modal">
                    <div class="wedding-box-modal-content">
                        <div class="wedding-box-modal-body">
                            <div class="wedding-box">
                                <div class="wedding-box-card">
                                    <h3>Mừng cưới đến chú rể</h3>
                                    <img class="qr-code-image" src="img/qrcodau.png">
                                    <p>Ngân hàng: <strong>VIETCOMBANK</strong>
                                    </p>
                                    <p>Tên tài khoản: <strong>NGUYEN CONG ANH</strong>
                                    </p>
                                    <p>Số tài khoản: <strong>0991000020245</strong>
                                    </p>
                                </div>
                                <div class="wedding-box-card">
                                    <h3>Mừng cưới đến cô dâu</h3>
                                    <img class="qr-code-image" src="img/qrcodau.png">
                                    <p>Ngân hàng: <strong>VIETCOMBANK</strong>
                                    </p>
                                    <p>Tên tài khoản: <strong>PHAM THUY LINH</strong>
                                    </p>
                                    <p>Số tài khoản: <strong>0211000472384</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>