<!DOCTYPE html>
<html lang="vi">

{% include head.html %}

<body>
  <div class="page-wrapper flower-fixed-body">
    {% include preload.html %}
    {% include header.html %}
    {% include home.html %}
    {% include save-the-date.html %}
    {% include couple.html %}
    {% include action.html %}
    {% include album.html %}
    {% include events.html %}
    {% include wishes.html %}
    {% include wedding-box.html %}
    {% include footer.html %}
    {% include scripts.html %}
  </div>
</body>

</html>