<section id="album">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 pb-5">
                <div class="text-center">
                    <h1 class="text-title text-capitalize font-weight-bold">Album hình cưới</h1>
                    <p class="pt-2 font-weight-normal">Được ai đó yêu sâu sắc sẽ mang lại cho bạn sức mạnh, trong khi
                        yêu ai đó sâu sắc sẽ cho bạn dũng khí.</p>
                </div>
            </div>
        </div>

        <div class="card-columns">
            {% for image in site.data.media.album %}
            <a data-src="{{ image | prepend: site.data.media.image_path }}" data-fancybox="gallery" role="button">
                <div class="card">
                    <img src="{{ image | prepend: site.data.media.image_path }}" class="card-img-top" alt="{{ image }}">
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>