<section id="call-to-action" class="bg-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <a class="btn btn-primary btn-lg btn-block text-white rounded-0" href="#wishes" role="button">
                            <i class="fa-regular fa-comment"></i> Gửi lời chúc
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                        <a class="btn btn-primary btn-lg btn-block text-white rounded-0" href="#wishes" role="button">
                            <i class="fa-regular fa-envelope"></i> Mừng cưới
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>