<head>
    <title>Thiệp mời tới dự hôn lễ của chúng mình!</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Trân trọng kính mời bạn đến tham dự!">

    <!-- Facebook Meta -->
    <meta property="og:site_name" content="Thiệp mời tới dự hôn lễ của chúng mình!" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Thiệp mời tới dự hôn lễ của chúng mình!" />
    <meta property="og:description" content="Trân trọng kính mời bạn đến tham dự!" />
    <meta property="og:image:url" content="upload/thumb.jpeg" />
    <meta property="og:image" content="upload/thumb.jpeg" />
    <meta property="og:image:secure_url" content="upload/thumb.jpeg" />

    <link rel="shortcut icon" type="image/x-icon" href="upload/favicon.jpeg" />

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- Plugin CSS -->

    <!-- Custom Fonts -->

    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>