<head>
    <title>Thiệp mời Hôn lễ {{ site.data.main.groom.name }} & {{ site.data.main.bride.name }}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Trân trọng kính mời bạn đến tham dự buổi tiệc mừng lễ thành hôn của {{ site.data.main.groom.name }} và {{ site.data.main.bride.name }}!">

    <!-- Facebook Meta -->
    <meta property="og:site_name" content="Thiệp mời Hôn lễ {{ site.data.main.groom.name }} & {{ site.data.main.bride.name }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Thiệp mời Hôn lễ {{ site.data.main.groom.name }} & {{ site.data.main.bride.name }}" />
    <meta property="og:description" content="Trân trọng kính mời bạn đến tham dự buổi tiệc mừng lễ thành hôn của {{ site.data.main.groom.name }} và {{ site.data.main.bride.name }}!" />
    <meta property="og:image:url" content="{{ site.data.media.thumb | prepend: site.data.media.image_path }}">
    <meta property="og:image" content="{{ site.data.media.thumb | prepend: site.data.media.image_path }}">
    <meta property="og:image:secure_url" content="{{ site.data.media.thumb | prepend: site.data.media.image_path }}">

    <link rel="shortcut icon" type="image/x-icon" href="{{ site.data.media.favicon | prepend: site.data.media.image_path }}">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />

    <!-- Plugin CSS -->

    <!-- Custom Fonts -->

    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>