<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thiệp mời Hôn lễ {{ site.data.main.groom.name }} & {{ site.data.main.bride.name }}</title>
    <meta property="og:image:url" content="{{ site.data.media.thumb | prepend: site.image_path }}">
    <meta property="og:image" content="{{ site.data.media.thumb | prepend: site.image_path }}">
    <meta property="og:image:secure_url" content="{{ site.data.media.thumb | prepend: site.image_path }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.data.media.favicon | prepend: site.image_path }}">
    <link href="css/fonts.css" rel="stylesheet">
    <link href="css/libs.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"> -->

    <!-- Custom CSS -->
    <!-- <link rel="stylesheet" href="css/main.css" type="text/css"> -->
</head>