<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand d-block d-lg-none" href="#home">A L</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse justify-content-center" id="navbarContent">
            <ul class="navbar-nav font-weight-bold">
                <li class="nav-item">
                    <a class="nav-link px-3" href="#couple">Cặp đôi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" href="#album">Album cưới</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" href="#events">Sự kiện</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" href="#wishes">Sổ lưu bút</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" href="#wedding-box">Mừng cưới</a>
                </li>
            </ul>
        </div>
    </div>
</nav>