<nav class="navbar navbar-expand-lg fixed-top shadow navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#header">
            <h3 class="text-primary m-0">
                {{ site.data.main.groom.letter }}
                <i class="fa-regular fa-heart"></i>
                {{ site.data.main.bride.letter }}
            </h3>
        </a>

        <button class="btn btn-primary text-light d-block d-lg-none" type="button" id="sidebarToggle"
            aria-label="Toggle sidebar">
            <i class="fa-solid fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav font-weight-bold">
                <li class="nav-item">
                    <a class="nav-link px-3" href="#couple">Cặp đôi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" href="#album">Album cưới</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" href="#events">Sự kiện</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" href="#wishes">Sổ lưu bút</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" href="#wedding-box">Mừng cưới</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<aside class="d-block d-lg-none shadow navbar-light bg-light">
    <div class="p-4">
        <ul class="navbar-nav font-weight-bold">
            <li class="nav-item">
                <a class="nav-link px-3" href="#couple">Cặp đôi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3" href="#album">Album cưới</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3" href="#events">Sự kiện</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3" href="#wishes">Sổ lưu bút</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3" href="#wedding-box">Mừng cưới</a>
            </li>
        </ul>
    </div>
</aside>

<div id="backdrop"></div>