<section id="save-the-date" class="bg-section overflow-hidden">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                <div class="card shadow-sm border-0 rounded-0 p-3 p-sm-4 h-100 position-relative">
                    <div class="left-vec"></div>
                    <div class="card-body m-3 m-sm-4 px-3 py-5 text-center border-info">
                        <h1 class="card-title text-capitalize text-title">Thiệp Mời</h1>
                        <h6 class="card-subtitle mt-4 mb-2 text-muted">Tới dự lễ cưới của</h6>
                        <h4 class="couple">
                            {{ site.data.main.groom.name }}
                            &
                            {{ site.data.main.bride.name }}
                        </h4>
                        <small class="d-block my-3">Một lời chúc của bạn chắc chắn sẽ làm cho đám cưới của chúng tôi có
                            thêm
                            một niềm hạnh phúc!</small>
                        <a class="btn btn-primary text-white rounded-0 px-4 py-2" href="#wishes" role="button"><i
                                class="fa-regular fa-comment"></i> Gửi lời chúc</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-10 col-md-8 col-lg-6 mt-5 mt-lg-0">
                <div class="card shadow-sm border-0 rounded-0 p-3 p-sm-4 h-100">
                    <div class="right-vec"></div>
                    <div class="card-body m-3 m-sm-4 p-2 text-center border-info position-relative">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>