<script type="text/javascript">
    const biicore = {
        template_id: '6174ef83a62963738e0a367c',
        templatePremium: ('' === '1'),
        themeRoot: 'templates/template15',
        webroot: '',
        coreSite: '',
        webToken: '652c227182c40b4cce070282',
        isPremium: ('1' === '1'),
        bgMusic: 'music/ByMySide-DavidChoi.mp3',
        alert: JSON.parse('[]'),
        effect: JSON.parse('{\"type\":\"custom\",\"setting\":{\"icon\":\"img\\/leaf.png\",\"number\":\"30\",\"speed\":\"2\",\"minSize\":\"15\",\"maxSize\":\"28\"}}')
    };
</script>
<script src="js/jquery-plugin-collection.js"></script>
<script src="js/script.js"></script>
<script src="js/bii.js"></script>