<section id="wedding-box" class="bg-light">
    <div class="container">
        <h1 class="text-center text-title">Mừng cưới</h1>
        <div class="row justify-content-center">
            <div class="col col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body text-center px-5 py-3">
                        <h5 class="card-title">Mừng cưới chú rể</h5>

                        

                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>