<section id="wishes" class="bg-section">
    <div class="container">
        <h1 class="text-center text-title">Sổ lưu bút</h1>
        <h4 class="pt-4 pb-5 text-center">Cảm ơn bạn rất nhiều vì đã gửi những lời chúc mừng tốt đẹp nhất đến đám cưới
            của chúng tôi!</h4>
        <div class="row justify-content-center">
            <div class="col col-10">
                <div class="card rounded-0 border-danger">
                    <div class="card-body p-5">
                        <form>
                            <div class="form-group row">
                                <label for="colFormLabelLg" class="col-sm-3 col-form-label">
                                    Họ & Tên
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="colFormLabelLg">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="exampleFormControlTextarea1" class="col-sm-3 col-form-label">
                                    Lời chúc
                                </label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">
                                    Xác nhận tham dự
                                </label>
                                <div class="col-sm-9 d-flex">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                            id="inlineRadio1" value="option1">
                                        <label class="form-check-label" for="inlineRadio1">Có tham dự</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                            id="inlineRadio2" value="option2">
                                        <label class="form-check-label" for="inlineRadio2">Không tham dự</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">
                                    Địa điểm tham dự
                                </label>
                                <div class="col-sm-9 d-flex">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="hn"
                                            value="hn">
                                        <label class="form-check-label" for="hn">Hà Nội</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="tb"
                                            value="tb">
                                        <label class="form-check-label" for="tb">Thái Bình</label>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-danger">Gửi lời chúc</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>