<section class="contact-section section-padding section-bg-img" id="wishes">
    <div class="container">
        <div class="row">
            <div class="col col-sm-12">
                <div class="section-title">
                    <h2>Sổ Lưu Bút</h2>
                    <p>Cảm ơn bạn rất nhiều vì đã gửi những lời chúc mừng tốt đẹp nhất đến đám cưới của chúng
                        tôi!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-12">
                <div class="contact-form">
                    <form id="wish-form" class="form validate-rsvp-form row" method="post" novalidate="novalidate">
                        <div class="col col-sm-12">
                            <input type="text" name="name" class="form-control" placeholder="Nhập họ tên*">
                        </div>
                        <div class="col col-sm-12">
                            <textarea id="wish-input" class="form-control" name="content"
                                placeholder="Nhập lời chúc của bạn*"></textarea>
                        </div>
                        <div class="col col-sm-12">
                            <select id="confirm" name="confirm" class="form-control">
                                <option value="Có tham dự, Nhà trai">Có tham dự, Nhà trai</option>
                                <option value="Không thể tham dự, Nhà trai">Không thể tham dự, Nhà trai</option>
                                <option value="Có tham dự, Nhà gái">Có tham dự, Nhà gái</option>
                                <option value="Không thể tham dự, Nhà gái">Không thể tham dự, Nhà gái</option>
                            </select>
                        </div>
                        <div class="col col-sm-12 submit-btn">
                            <button type="submit" class="theme-btn">Gửi lời chúc</button>
                            <div id="loader">
                                <i class="ti-reload"></i>
                            </div>
                        </div>
                        <div class="col col-md-12 success-error-message">
                            <div id="success">Gửi lời chúc thành công</div>
                            <div id="error">Gửi lời chúc thất bại, vui lòng thử lại sau giây lát! </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>