<section id="save-the-date" class="bg-section">
    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <div class="card border-0 rounded-0 p-4 h-100">
                    <div class="card-body my-5 mx-4 border border-2 border-danger text-center ">
                        <h1 class="card-title text-title">Save the date</h1>
                        <h6 class="card-subtitle mt-4 mb-2 text-muted">Card subtitle</h6>
                        <h3 class="couple">Công Anh & Thùy Linh</h3>
                        <p class="card-text">Một lời chúc của bạn chắc chắn sẽ làm cho đám cưới của chúng tôi có thêm
                            một niềm hạnh phúc!</p>
                        <a class="btn btn-danger btn-lg rounded-0" href="#wishes" role="button">Gửi lời chúc</a>
                    </div>
                </div>
            </div>

            <div class="col col-md-6">
                <div class="card border-0 rounded-0 p-4 h-100">
                    <div class="card-body my-5 mx-4 border border-2 border-danger text-center ">
                        <h1 class="card-title text-title">Calendar</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>