#couple {
    .couple-portrait {
        position: relative;
        background: #f8f8f8;
        box-shadow: 0px 1em 2em -1em rgba(0, 0, 0, .4),
            0px 2em 2em -1em rgba(0, 0, 0, .3),
            0px 3em 2em -1em rgba(0, 0, 0, .2),
            0px 4em 1.5em -1em rgba(0, 0, 0, .15),
            0px 2em 4em .5em rgba(0, 0, 0, .1),
            inset 0 .2em .1em #fff;

        .portrait-image {
            padding: 2.5rem;
            padding-bottom: 3rem;
            border-width: 1.5rem !important;
            background-color: #f8f8f8;
            box-shadow: inset 0px 10px .5em rgba(0, 0, 0, .25), inset .1em 0px .1em rgba(0, 0, 0, .1), inset -0.1em 0px .1em rgba(0, 0, 0, .05), 0 .3em .2em #fff;
            background-image: -moz-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
            background-image: -webkit-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
            background-image: -o-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
            background-image: -ms-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
            background-image: radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
        }

        .portrait-text {
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, -50%);
        }
    }
}