#save-the-date {
    .card-body {
        border-style: solid;
        border-width: 5px;
    }

    #calendar {
        table {
            border-collapse: collapse;
            width: 100%;
            max-width: 100%;
            table-layout: fixed;
            /* Distributes the width evenly */
        }

        caption {
            text-align: center;
            /* Center the caption text */
            font-weight: bold;
            /* Space below the caption */
            caption-side: top;
        }

        thead, tbody {
            white-space: nowrap;
            font-size: 0.9rem;
        }

        thead {
            th {
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                padding: 10px;
                text-align: center;
            }
        }

        tbody {
            td {
                padding: 10px;
                text-align: center;
                border: none;

                /* Remove borders from day cells */
                .highlight {
                    background-color: $primary;
                    color: $white;
                    border-radius: 50%;
                    /* Adjust the size to make sure it forms a circle */
                    display: inline-block;
                    /* Center the text vertically */
                    text-align: center;
                    /* Center the text horizontally */
                    width: 21.6px;
                    height: 21.6px;
                    line-height: 22px;
                }
            }
        }
    }
}