<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  <div class="d-flex flex-column min-vh-100 user-select-none">
    {% include nav.html %}
    {% include header.html %}
    <main>
      {% include save-the-date.html %}
      {% include couple.html %}
      {% include call-to-action.html %}
      {% include album.html %}
      {% include events.html %}
      {% include wishes.html %}
      {% include wedding-box.html %}
    </main>
    {% include footer.html %}
  </div>
  {% include scripts.html %}
</body>

</html>