@font-face {
  font-family: "dancingscript";
  src: url("../fonts/DancingScript.woff2") format("woff2")
}

@font-face {
  font-family: "comfortaa";
  src: url("../fonts/Comfortaa.woff2") format("woff2")
}
